:root{
  --primary-color: white;
  --secondary-color: #4292cccb;
  --tertiary-color: rgb(144, 112, 140); 
}
* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
}

#root {
  width: 100%;
}
.App {
  width: 100%;
}

body{
  z-index: 9999;
  background-color: var(--secondary-color);
}

.flex-row{
  display: flex;
  border-bottom: 3px solid var(--tertiary-color);
  padding-bottom: 60px;
}

/* header styling start */
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url('./images/open-road-resized.jpg');
  background-position: 80%;
  background-size:cover;
  background-attachment: fixed;
  z-index: 9999;
  padding: 20px 35px;
  position: relative;
  width: 100%;
  /* clip-path: polygon(0 9%, 37% 0, 100% 14%, 100% 90%, 24% 100%, 0 90%); */
}

header h1{
  padding: 11px 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 25px;
  z-index: 9999;
  text-shadow: 0 0 10px #90708C;
  transition: 1s;
}

header h1:hover{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: 1s;
  
}

header a{
  padding: 0 30px;
  text-decoration: none;
  color: var(--primary-color);
}

header nav ul li{
  background-color: var(--secondary-color);
  border-radius: 25px;
  border-left: 10px;
  margin: 0 10px;
  transition: 1s;
}

header nav ul li:hover{
  transition: 1s;
  background-color: var(--primary-color);
}

header nav ul li a:hover{
  color: var(--secondary-color);
  transition: .5s;
}

header h1 a{
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  text-decoration: none;
}

header nav{
  padding-top: 10px;
  z-index: 9999;
}

header nav ul {
  padding: 10px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 9999;
}

header nav ul li a {
  padding: 0 20px;
  margin: 0;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(245, 3, 3, 0.507);
  z-index: 9999;
  transition: 1s;
}

.active {
  color: var(--secondary-color);
  transition: .5s;
  background-color: var(--primary-color);
  border-radius: 25px;
}

header div{ /*secondary-background container*/
  
  background-position: 80%;
  z-index: 9998;
  position: absolute;
  left: 0px;
  right: 0px;
}

.secondary-background{
  display: flex;
  content: "";  
  padding: 30px 30px 35px 30px;  
  background-image: url('./images/mountains-resized.jpg');
  background-position: 50%;
  background-size:cover;
  background-attachment: fixed;
  opacity: .6;
  z-index: 9998;
  border-radius: 25px;
  margin-left: 35px;
  margin-right: 35px;
}
/* header styling end */

/* hero aka home section styling start */
.hero-flex{
  justify-content: center;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10%;
}

.hero{
  height: 10%;
  background-image: url('./images/open-road-resized.jpg');
  background-position: 80%;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 5%;
  justify-content: center;
  position: relative;
  /* clip path order: TOP left, middle, right, BOTTOM left, middle, right*/
  clip-path: polygon(0 0%, 100% 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
}

.hero-title{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-style: solid;
  padding: 0 0 50px 0;
  border-color: var(--primary-color);
  border-radius: 15px;
  border-width: 3px;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, .5);
  height: 30%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  z-index: 1;
  opacity: .9;
}

.hero-title h2 {
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}

.hero-title h3 {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

#canvas-div {
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
}

#defaultCanvas0 {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .5;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* hero aka home section styling end */

/* about me styling start */
.about-me {
  padding: 100px 5%;
  padding-top: 80px;
  width: 100%;
  text-align: center;
  /* clip-path: polygon(0 10%, 37% 0, 100% 10%, 100% 90%, 63% 100%, 0 90%); */
}

.border-bottom {
  border-bottom: 3px solid var(--tertiary-color);
}

.about-p {
  margin: 20px 0;
  font-size: 4vw;
}

.about-me h2{
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
  margin-right: 0;
  text-align: right;
  background-color: var(--tertiary-color);
  padding: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.about-me img{
  margin-right: 60px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.about-p {
  color: white;
  font-size: 2vw;
}

/* about me styling end */

/* projects styling start */

.work-header-flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* projects styling end */

/* contact form styling start */

.contact-container {
  margin-bottom: 30%;
}

/* contact form styling end */

/* footer styling start */

.footer {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

/* footer styling end */

/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************** MEDIA QUERIES START *************************/
/*************************** MEDIA QUERIES START *************************/
/*************************** MEDIA QUERIES START *************************/
/*************************** MEDIA QUERIES START *************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

@media screen and (max-width: 1024px) {

  header{
    justify-content: center;
    position: relative;
  }
  .hero{
    width: 100%;
  }

  .flex-row {
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
  }

  .me-picture {
    width: 300px !important;
    height: 250px !important;
  }
  .about-me img{
    margin-right: 0;
  }
  .border-right {
    display: none;
    opacity: 0;
  }

  .about-p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 800px) {
  header nav ul li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  header nav ul li a {
    padding: 15px;
  }
  .hero-title {
    margin-left: 5%;
    margin-right: 5%;
  }
  #canvas-div {
    position: relative;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
  }

  .me-picture {
    width: 300px !important;
    height: 250px !important;
  }
}

@media screen and (max-width: 575px) {
  header{
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap !important;
  }
  /* header nav {
    font-size: 3.5vw !important ;
  } */
  header nav ul {
    flex-wrap: nowrap !important;
    justify-content: center;
  }
  header nav ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3vw !important;
  }
  header nav ul li a {
    padding: 15px;
  }
  .secondary-background{
    opacity: 0;
  }
  .hero-title {
    margin-left: 5%;
    margin-right: 5%;
  }

  .me-picture {
    width: 160px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 414px) {
  header nav ul li {
    margin: 0;
    font-size: 3vw;
  }
}

@media screen and (max-width: 375px) {
  header nav ul li {
    font-size: 3vw;
  }
  header nav ul {
    justify-content: center;
  }

  .flex-row {
    flex-wrap: nowrap !important;
  }

  .me-picture {
    width: 100px;
    height: 80px;
  }
}

@media screen and (max-width: 330px) {
  header nav ul {
    flex-wrap: nowrap !important;
    justify-content: center !important;
  }
  header nav ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2.3vw !important;
  }
  /* header nav ul li a {
    padding: 15px;
  } */
  .hero-title {
    margin-left: 5%;
    margin-right: 5%;
  }

  .me-picture {
    width: 160px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 290px) {
  header nav ul li {
    font-size: 2.4vw !important;
  }
}